@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


.flexMainContent {
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* flex-wrap: wrap; */
  /* flex-direction: row; */
  /* align-items: center; */
  /* justify-content: center; */
}

.generatorBox{
 width: 18em;
 height: 15em;  
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 padding-left: 0.8em;
}

.favouritesButton{
    width:18em;
    height: 2.5em;
    padding:none;
    justify-self: end;
}

.mainContentDiv {
    width: auto;
    height: 5em;
    padding-bottom: 6em;
}

.rounded{
    width: 8em;
    height: 5em;
}

